<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ariyan.besttravelsbd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BestTravelsBD">
        <activity android:name=".SaintMartin"></activity>
        <activity android:name=".CoxsBazar" />
        <activity android:name=".Jaflong" />
        <activity android:name=".BisanaKanddi" />
        <activity android:name=".MymenshinghActivity" />
        <activity android:name=".RangpurActivity" />
        <activity android:name=".ChittagongActivity" />
        <activity android:name=".KhulnaActivity" />
        <activity android:name=".RajshahiActivity" />
        <activity android:name=".BarishalActivity" />
        <activity android:name=".SylhetActivity" />
        <activity android:name=".DhakhaActivity" />
        <activity android:name=".Division" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>